{
  "extends": "react-app",
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "semi": ["warn", "always"],
    "max-nested-callbacks": ["warn", 3],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}